.git
.github
.venv
.cache
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]

.env
.env.dev
config.toml
config.dev.toml
credentials.json
token.txt

docs
tests
downloads
coverage.xml
htmlcov
.coverage
*.backup
